<%- include("../partials/_header.ejs") %>
<div class="new-password-layout">
<h1>Forget Password</h1>
<% if (error) { %>
  <div class="alert error"><%= error %></div>
<% } %>
<form action="/auth/new-password/<%= token %>" method="POST">
  <label for="password"> New Password</label>
  <input type="password" name="password" id="password" required />
  <br />
  <label for="confirmPassword">Confirm New Password</label>
  <input type="password" name="confirmPassword" id="confirmPassword" required />
  <br />
  <button type="submit">Update Password</button>
</form>
</div>
