<%- include("../partials/_navbar.ejs") %>
<h1>Forget Password</h1>

<form action="/auth/forget-password" method="POST">

<label for="password"> New Password</label>
<input type="password" name="password" id="password" required>
<br>

<label for="confirmPassword">Confirm New Password</label>
<input type="password" name="confirmPassword" id="confirmPassword" required>
<br>

<button type="submit">Update Password</button>
</form>
