<nav>
  <% if (user) { %>
  <p>welcome to the <%= user.username %></p>
  <a href="/users/profile/<%= user._id %>">Profile</a>
  <a href="/blogs/create">Add a new Blog</a>
  <a href="/blogs/userBlogs">My Blogs</a>
  <a href="/blogs">All Blogs</a>
  <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
  <p>welcome to the App. Guest</p>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
  <% } %>
</nav>
